html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}



body p {
   color: white;
   text-shadow: 0 0 10px rgba(red, green, blue, alpha 0.5);
}



body {
    background: url("../img/backgroundblur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 250px;
    height: 250px;
}

.form-main {
  width: auto;
  margin: auto;
  padding-left: 40px;
  padding-right: 50px;
}


#text {
    display: table;
    margin: 0 auto;
  }




  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}



 

